body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


	.container {
    display: grid;
    grid-template-columns: 1fr 1000px 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "header header header header "
                         "sidebar sidebar main main"
                         "footer footer footer footer "; /* Thêm một hàng cho footer */
    min-height: 100vh;
}


.header {
    grid-area: header;
    background-image: url(bonghoa.png);
    color: white;
    padding: 20px;
    margin: 0;
            
	height: 5cm;
	
}

.main {
    grid-area: main;
    background-color: yellow;
    
    margin: 0;
    padding: 0;
	height: 20cm;
	 
}
	
.sidebar {
    grid-area: sidebar;
    background-color: #ddd;
    
    margin: 0;
    padding: 0;
	height: 20cm;
	 
	
}
	.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 50px;
		  

}
