@charset "utf-8";
.att{
	background-color: red;
	color: white;
	text-align: right;
	font-size: 9px;
}

.hello{
	background-color: pink;
	color: red;
	text-align: center;
}

body{
	display: block;
}

h3{
	color: red;
	padding: 1px;
}
i{
	 font-weight: bold;
}

table {
  font-family: Arial, sans-serif; 
  color: #333; 
}

th {
  background-color: #f2f2f2;
}

td {
  border: 1px solid #ddd; 
  padding: 1px; 
}

abc{
	display: block
}
